.mr.container
	%h1 Anthony,
	
	= render partial: "/pages/blurb"
	%h1 Anthony,
	%h1 Will You Be My Groomsman?
	= render partial: "/pages/choice_goofball"

	.container	
		.row#ps
			%h4 Ps. I need you to be on your "A" so make sure you save all your cuteness until then!