.mr.container
	%h1 Anthony,
	
	= render partial: "/pages/ant_blurb"
	%h1 Anthony,
	%h1 Will You Be My 
	%h1 Jr. Groomsman?
	= render partial: "/pages/choice_goofball"

	.container	
		.row#ps
			%h4 Ps. I need you to be on your "A" game so make sure you save all your cuteness until then!