.mr.container
	%h1 Jerry,
	.container#blurb
		= render partial: "/pages/blurb"
	
	%h1 Will You Be My Groomsman?
	.container
		.row
			%button.btn.btn-success.col-xs-6.correct Yes
			%button.btn.btn-danger.col-xs-6.incorrect No

	.container	
		.row#ps
			= render partial: "/pages/ps"