.row
	%h2 DUDE . . .

	#arrow
		/ %p scroll down...
		%a.ca3-scroll-down-link.ca3-scroll-down-arrow{"data-ca3_icon" => "", "data-ca3_iconfont" => "ETmodules"}

	%h4 I know you know Lucy and I are getting married. September 3rd, 2016 . . . (in case you forgot)

	%h4 Which means I need a few likable, fun, good looking fellas, to help take all the attention off me that day . . . 

	%h4 So if you know of anyone, keep me posted.

	%h4 Lets get serious here for a second.

	%h4 I usually don’t get sappy but you truly are one of the closest guys in my life and it would mean so much if you were by my side on the big day.
	
	%h4 (sappy part over)

	%h4 Lucy said I need to write a card. . .
	%h4 —this was easier.

	%h4 Enough jokes..